table{
	background-color:#ffccd5;
	color:brown;
	margin-left:75px;
	margin-right:75px;
	align:center;
	border:2px;
}

/* h4{
	background-color:purple;
	color:white;
}
 */
h1{
	background-color:orange;
	color:blue;
}
a{
	background-color:#ffccd5;
	color:brown;
	align:center;
}

